test.json

# Python
venv/
__pycache__/
*.pyc

/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

node_modules/
.next/
out/


# Environment
.env

# ML
# *.pkl

# OS
.DS_Store
Thumbs.db